@charset "utf-8";

body {
    margin: 0 1em;
    padding: 0;
    font-family: "Century Schoolbook", "Hoefler Text", "Goudy Old Style", times, serif;
    font-size: 14pt;
    line-height: 1.35em;
}

h1 {
    font-family: Optima, "Gill Sans MT", "Franklin Gothic Book", helvetica, sans-serif;
    font-size: 140%;
    color: #444;
    border-top: 1px solid #999;
    padding-top: 5px;
}

h1.title {
    border-top: none;
    padding-top: 0;
}

h2 {
    font-family: Optima, "Gill Sans MT", "Franklin Gothic Book", helvetica, sans-serif;
    font-size: 110%;
    color: #333;
}

td {
    padding-right: 10px;
}

blockquote {
    padding: 0 2em;
    font-size: 0.9em;
    line-height: 1.35em;
}
